<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<display-name>RestProjectTemplate</display-name>
	
	<filter>
		<description>Questo filtro si occupa di loggare la request e di salvare i dati estratti sulla MDC del logger</description>
		<filter-name>RequestLoggerFilter</filter-name>
		<filter-class>it.tecla.config.logger.RequestLoggerFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RequestLoggerFilter</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>
	 
	<servlet>
		<description>Questa servlet si occupa di fare il bootstrap di swagger</description>
		<servlet-name>SwaggerBootstrap</servlet-name>
		<servlet-class>it.tecla.config.rest.SwaggerBootstrap</servlet-class>
		<init-param>
			<param-name>swagger-ui.version</param-name>
			<param-value>2.2.10-1</param-value>
		</init-param>
		<init-param>
			<param-name>version</param-name>
			<param-value>1.0</param-value>
		</init-param>
		<init-param>
			<param-name>basePath</param-name>
			<param-value>/api</param-value>
		</init-param>
		<init-param>
			<param-name>resourcePackages</param-name>
			<param-value>io.swagger.resources,it.tecla</param-value>
		</init-param>
		<init-param>
			<param-name>description</param-name>
			<param-value>Servizio di TEST fatto come esempio di partenza</param-value>
		</init-param>
		<init-param>
			<param-name>title</param-name>
			<param-value>Rest Project Template</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>SwaggerBootstrap</servlet-name>
		<url-pattern>/swagger/*</url-pattern>
		<url-pattern>/swagger-ui/*</url-pattern>
	</servlet-mapping>
	
	<resource-ref>
		<res-ref-name>mail/Session</res-ref-name>
		<res-type>javax.mail.Session</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>

	
</web-app>
