<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<display-name>RestProjectTemplate</display-name>
	
	<filter>
		<description>Questo filtro si occupa di loggare la request e di salvare i dati estratti sulla MDC del logger</description>
		<filter-name>RequestLoggerFilter</filter-name>
		<filter-class>it.tecla.config.logger.RequestLoggerFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RequestLoggerFilter</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>
	 
	<servlet>
		<description>Questa servlet si occupa di fare redirect su swagger-ui</description>
		<servlet-name>SwaggerUiRedirect</servlet-name>
		<servlet-class>it.tecla.config.rest.SwaggerConfig</servlet-class>
		<init-param>
			<param-name>swagger-ui.version</param-name>
			<param-value>3.0.5</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SwaggerUiRedirect</servlet-name>
		<url-pattern>/swagger/*</url-pattern>
		<url-pattern>/swagger-ui/*</url-pattern>
	</servlet-mapping>
	
	<listener>
		<display-name>SwaggerConfig</display-name>
		<listener-class>it.tecla.config.rest.SwaggerConfig</listener-class>
	</listener>
	
</web-app>
