<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration debug="false" scanPeriod="30 seconds">

	<property name="LOGS_HOME" value="logs/tecla" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.out</target>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.S} [%mdc{earName}] [%thread] [%mdc{req.logId}] %-5level %logger %class.%method\(%file:%line\) - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="TRACE_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGS_HOME}/trace.log</file>
		<append>true</append>
				
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.S} [%thread] [%mdc{req.logId}] %-5level %logger %class.%method\(%file:%line\) - %msg%n</pattern>
		</encoder>
		
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${LOGS_HOME}/archive/trace.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- keep 30 days' worth of history capped at 1GB total size -->
			<maxHistory>30</maxHistory>
			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>
	</appender>
	
	<appender name="INFO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGS_HOME}/info.log</file>
		<append>true</append>
				
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.S} [%thread] [%mdc{req.logId}] %-5level %logger %class.%method\(%file:%line\) - %msg%n</pattern>
		</encoder>
		
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
 			<level>INFO</level>
		</filter>
		
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${LOGS_HOME}/archive/info.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- keep 30 days' worth of history capped at 1GB total size -->
			<maxHistory>30</maxHistory>
			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>
	</appender>
	
	<appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGS_HOME}/error.log</file>
		<append>true</append>
				
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.S} [%thread] [%mdc{req.logId}] %-5level %logger %class.%method\(%file:%line\)%n%mdc{req.logMessage}%n%n%msg%n</pattern>
		</encoder>
		
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
 			<level>ERROR</level>
		</filter>
		
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${LOGS_HOME}/archive/error.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- keep 30 days' worth of history capped at 1GB total size -->
			<maxHistory>30</maxHistory>
			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>
	</appender>

	<appender name="EMAIL" class="ch.qos.logback.classic.net.SMTPAppender">
		<sessionViaJNDI>true</sessionViaJNDI>
		<jndiLocation>java:comp/env/mail/Session</jndiLocation>
		<to>n.chieffo@tecla.it</to>
		<from>errors@tecla.it</from>
		<subject>ERROR NOTIFICATION - %mdc{earName} - %mdc{cellName}/%mdc{nodeName}</subject>
		<asynchronousSending>false</asynchronousSending>
		
		<layout class="ch.qos.logback.classic.html.HTMLLayout">
			<pattern>%date%level%class%method%line%msg</pattern>
		</layout>
		
		<cyclicBufferTracker class="ch.qos.logback.core.spi.CyclicBufferTracker">
			<bufferSize>150</bufferSize>
		</cyclicBufferTracker>
		
		<!-- grazie a questo discriminator raccolgo soltanto i log relativi alla request corrente (funziona in accoppiata con il RequestMDCFilter che setta req.logId -->
		<discriminator class="ch.qos.logback.classic.sift.MDCBasedDiscriminator">
			<key>req.logId</key>
			<defaultValue>default</defaultValue>
		</discriminator>
	</appender>

	<logger name="it.tecla" level="TRACE" />

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="EMAIL" />
		<appender-ref ref="TRACE_FILE" />
		<appender-ref ref="INFO_FILE" />
		<appender-ref ref="ERROR_FILE" />
	</root>
	
</configuration>